* {
    font-family: cursive;
    color: #eee;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-image: url("https://wallpapers.com/images/hd/almost-black-with-navy-blue-background-aagwaqhmx0ggj2ny.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    height: 100vh;
  
  }
  .heading1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  }
  .piano-container {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 4em 1em 1em 1em;
    border-radius: 0.62em;
    background-color: #24272e;
    box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);
  }
  
  .white-key {
    width: 4.37em;
    height: 17.5em;
    background-color: #ffffff;
    border-radius: 0 0 0.3em 0.3em;
    border: 2px solid #24272e;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .white-key:hover {
    background-color: #ebebeb;
  }
  
  .white-key:active {
    background-color: rgb(164, 165, 167) !important;
    box-shadow: 0 0 10px #c5c4c4;
    transform: scale(0.99);
  }
  
  .black-key {
    width: 2.5em;
    height: 10em;
    border-radius: 0 0 0.3em 0.3em;
    box-sizing: border-box;
    position: absolute;
    background-color: #070a0f;
    cursor: pointer;
    z-index: 99;
  }
  
  .black-key:hover {
    background-color: #24272e;
  }
  
  .black-key:active {
    height: 10em;
    box-shadow: 0 2px 0 #000, inset 0 0 5px #000;
    transform: translateY(5px);
    margin-top: -5px;
    background: #1b1b1b;
  }
  
  .black-key:nth-child(1) {
    left: 4em;
  }
  
  .black-key:nth-child(2) {
    left: 8.37em;
  }
  
  .black-key:nth-child(3) {
    left: 17.12em;
  }
  
  .black-key:nth-child(4) {
    left: 21.5em;
  }
  
  .black-key:nth-child(5) {
    left: 25.87em;
  }
  
  .black-key:nth-child(6) {
    left: 34.62em;
  }
  
  .black-key:nth-child(7) {
    left: 39em;
  }
  
  .black-key:nth-child(8) {
    left: 47.75em;
  }
  
  .black-key:nth-child(9) {
    left: 52.12em;
  }
  
  .black-key:nth-child(10) {
    left: 56.5em;
  }
  
  .pressed {
    background-color: rgb(164, 165, 167) !important;
    box-shadow: 0 0 10px #c5c4c4;
    transform: scale(0.99);
  }
  
  @media screen and (max-width: 1000px) {
    .piano-container {
      font-size: 0.7em;
    }
  }
  
  @media screen and (max-width: 700px) {
    .piano-container {
      font-size: 0.5em;
    }
  }
  
  @media screen and (max-width: 500px) {
    .piano-container {
      font-size: 0.75em;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }